{% extends 'swimtest/swimtest_base.html' %}

{% load staticfiles %}
{% load to_seconds %}
{% load to_milliseconds %}


{% block content %}

    <div class="page-header">
        <h1>Besttijden</h1>
        <p class="lead">Een overzicht van alle persoonlijke records.</p>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Naam</th>
            <th>Tijd</th>
            <th>Datum</th>
        </tr>
        </thead>
        <tbody>

        {% for obj in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ obj.user.get_swimtest_url }}">{{ obj.user.first_name }}</a></td>
                <td>{{ obj.time_500|time:"i:s" }}</td>
                <td>{{ obj.swim_test }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="net_chart"
         style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    <div id="split_chart"
         style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="/static/swimtest/highcharts-4.0.4/js/highcharts.js"></script>
    <script src="/static/swimtest/highcharts-4.0.4/js/modules/exporting.js"></script>

    <script>
        $(function () {
            $('#split_chart').highcharts({
                 title: {
                     text: 'Splittijden',
                     x: -20 //center
                 },
                 subtitle: {
                     text: 'Zwemtest {{ object }}',
                     x: -20
                 },
                 xAxis: {
                     title: {
                         text: 'Afstand (meters)'
                     },
                     categories: ['100', '200', '300', '400', '500']
                 },
                 yAxis: {
                     title: {
                         text: 'Splittijd (seconden)'
                     },
                     plotLines: [{
                         value: 0,
                         width: 1,
                         color: '#808080'
                     }]
                 },
                 tooltip: {
                     valueSuffix: 'sec.'
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'right',
                     verticalAlign: 'middle',
                     borderWidth: 0
                 },
                 series: [

                     {% for record in object_list %}
                         {
                             name: '{{ record.user.first_name }}',
                             data: [
                                 {{ record.split_100|to_seconds }},
                                 {{ record.split_200|to_seconds }},
                                 {{ record.split_300|to_seconds }},
                                 {{ record.split_400|to_seconds }},
                                 {{ record.split_500|to_seconds }}
                             ]
                         }{% if not for.loop.last %}, {% endif %}
                     {% endfor %}

                 ]
             });


            $('#net_chart').highcharts({
                dateFormat: '%H:%S',
                title: {
                   text: 'Netto tijden',
                   x: -20 //center
                },
                subtitle: {
                   text: 'Zwemtest {{ object }}',
                   x: -20
                },
                xAxis: {
                   title: {
                       text: 'Afstand (meters)'
                   },
                   categories: ['0', '100', '200', '300', '400', '500']
                },
                yAxis: {
                   type: 'datetime',
                   dateTimeLabelFormats: {
                       minute: '%M:%S',
                       day: '%M:%S'
                   },
                   title: {
                       text: 'Netto tijd (mm:ss)'
                   },
                   plotLines: [{
                       value: 0,
                       width: 1,
                       color: '#808080'
                   }]
                },
                tooltip: {
                   valueSuffix: ' sec.',
                   formatter: function () {
                       return '<b>' + this.series.name + '</b><br/>' +
                               Highcharts.dateFormat('%M:%S', new Date(this.y)) + ' @ ' + this.x + ' m.';
                   }
                },
                legend: {
                   layout: 'vertical',
                   align: 'right',
                   verticalAlign: 'middle',
                   borderWidth: 0
                },
                series: [

                   {% for record in object_list %}
                       {
                           name: '{{ record.user.first_name }}',
                           data: [
                               0,
                               {{ record.time_100|to_milliseconds }},
                               {{ record.time_200|to_milliseconds }},
                               {{ record.time_300|to_milliseconds }},
                               {{ record.time_400|to_milliseconds }},
                               {{ record.time_500|to_milliseconds }}
                           ]
                       }{% if not for.loop.last %}, {% endif %}
                   {% endfor %}

                ]
            });
        });
    </script>

{% endblock extra_js %}