{% extends "base.html" %}

{% load crop %}
{% load thumb %}

{% block title %}{{ user.first_name }} « {% endblock %}
{% block keywords %}{{ current_menu.keywords }}{% endblock %}
{% block description %}{{ current_menu.description }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row" role="main">

          <div class="page-header">
            <h1>{{ user.username|capfirst }}</h1>
          </div>


        <div class="col-md-4">
          <div class="page-header">
            <h2>Account</h2>
          </div>
            <dl>
              <dt>Gebruikersnaam</dt><dd>{{ user.username|capfirst }}</dd>
            </dl>
            <dl>
              <dt>Voor- en achternaam</dt><dd>{{ user.first_name }} {{ user.last_name }}</dd>
            </dl>
            <dl>
              <dt>E-mailadres</dt><dd>{{ user.email }}</dd>
            </dl>
            <p><a href="{% url 'password_change' %}" class="btn btn-default">Wachtwoord wijzigen</a></p>
        </div>

        <div class="col-md-8">

            <div class="page-header">
                <h2 class="section_title">
                  <a href="{% url 'race:who_what_where_list' %}">Wie wat waar</a>
                  <a href="{% url 'race:who_what_where_add' %}" class="btn btn-success btn-sm">
                    Wie wat waar toevoegen
                  </a>
                </h2>
            </div>

            {% with www_list as result_list %}
              {% include 'race/who_what_where_table.html' %}
            {% endwith %}

            <div class="page-header">
                <h2 class="section_title">
                  <a href="{% url 'race:result_list' %}">Uitslagen</a>
                  <a href="{% url 'race:result_list_add' %}" class="btn btn-success btn-sm">
                    Uitslag toevoegen
                  </a>
                </h2>
            </div>

            {% include 'race/result_table.html' %}

        </div>

    </div>

        <div class="page-header">
          <h1><a href="{% url 'webapp:news_list' %}">Nieuws <a href="{% url 'webapp:news_create' %}" class="btn btn-success btn-sm">Nieuwsbericht toevoegen</a></a></h1>
        </div>

        {% for obj in news_list %}

            {% include 'webapp/snippets/item.html' %}

            {% if forloop.counter|divisibleby:2 %}
              <div class="col-sm-12 hidden-xs hidden-md hidden-lg"></div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
              <div class="col-md-12 hidden-xs hidden-sm"></div>
            {% endif %}

    {% empty %}

        <h2>Geen nieuwsberichten</h2>

    {% endfor %}
    </div>
</div>
{% endblock %}
