{% extends "webapp/news_base.html" %}

{% load crop %}
{% load thumb %}
{% load crispy_forms_tags %}

{% block title %}{{ article.title }} « {% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}
{% block description %}{{ article.description }}{% endblock %}

{% block ogtitle %}{{ article.title }} « {% endblock %}
{% block ogimage %}http://{{ site.domain }}{{ MEDIA_URL }}{{ article.image }}{% endblock %}
{% block ogdescription %}{{ article.description }}{% endblock %}

{% block user_menu %}
{% endblock user_menu %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-push-2" role="main">
            <h1>Editie {% if object %}bewerken{% else %}toevoegen{% endif %}</h1>
            <p class="lead">{{ event }}</p>
            <form method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-actions">
                <input type="submit" name="submit" value="Verzenden"
                       class="btn btn-primary" id="submit-id-submit">
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
