{% extends "base.html" %}

{% load crop %}
{% load thumb %}

{% block title %}{{ current_menu.title }} « {% endblock %}
{% block description %}{{ current_menu.description }}{% endblock %}
{% block keywords %}{{ current_menu.keywords }}{% endblock %}


{% block admin_menu %}
  {{ block.super }}
  <a href="{{ current_menu.get_admin_url }}" class="btn btn-default">
    Wijzig menu-item
  </a>
{% endblock admin_menu %}


{% block content %}
<div class="container">

    <div class="jumbotron col-md-10 col-md-push-1">
        {{ current_menu.text|safe }}
    </div>

</div>

{#<div id="big-photo" style="background-image: url('{{MEDIA_URL}}{{ current_menu.image }}');">#}
{#</div>#}

<div class="container">
    <div class="page-header">
        <h2 class="section_title">
          <a href="{% url 'webapp:news_list' %}" title="Nieuws">Nieuws</a>
        </h2>
    </div>
    <div class="row">
      {% for obj in news_list %}
        {% include 'webapp/snippets/item.html' %}

        {% if forloop.counter|divisibleby:2 %}
          <div class="col-sm-12 hidden-xs hidden-md hidden-lg"></div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
          <div class="col-md-12 hidden-xs hidden-sm"></div>
        {% endif %}

      {% endfor %}
    </div>
</div>

<div class="col-md-6">
    <div class="page-header">
        <h2 class="section_title">
          <a href="{% url 'training:session_list' %}">Training</a>
        </h2>
    </div>
    <table class="table">
        <thead>
            <tr>
              <th>Dag / Datum / Tijd</th>
              <th>Dicipline</th>
              <th>Locatie</th>
              <th>Trainer</th>
            </tr>
        </thead>
        <tbody>

        {% for obj in training_list %}

          <tr{% if obj.cancel %} class="cancel-item"{% endif %}
             {% if obj.message and not obj.cancel %} class="message-item"{% endif %}>
            <td>
              <a href="{{ obj.get_absolute_url }}" title="{{ obj }}">
                {{ obj.start|date:'l j F H:i' }}
              </a>
            </td>
            <td>{{ obj.discipline }}</td>
            <td>{{ obj.location }}</td>
            <td>{{ obj.trainer }}</td>
          </tr>

          {% if obj.cancel %}
          <tr class="cancel-header">
            <td colspan="4">
                {{ obj.message }}
            </td>
          </tr>
          {% endif %}

          {% if obj.message and not obj.cancel %}
          <tr class="message-header">
            <td colspan="4">
                {{ obj.message }}
            </td>
          </tr>
          {% endif %}

        {% endfor %}

        </tbody>
    </table>
</div>

<div class="col-md-6">
    <div class="page-header">
        <h2 class="section_title">
          <a href="{% url 'race:who_what_where_list' %}">Wie wat waar</a>
        </h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Evenement</th>
                <th>Plaats</th>
                <th>Wedstrijd</th>
                <th>Deelnemers</th>
            </tr>
        </thead>
        <tbody>
          {% regroup www_list by race.edition as edition_list %}
          {% for edition in edition_list %}
            {% for result in edition.list %}
              <tr>
                  {% if forloop.first %}
                    <td>
                      {{ edition.grouper }}
                    </td>
                    <td>
                      <a href="{{ edition.grouper.event.get_absolute_url }}">
                        {{ edition.grouper.event.name }}
                      </a>
                    </td>
                    <td>
                      {{ edition.grouper.event.city }}
                    </td>
                  {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                  {% endif %}
                  <td>
                    {{ result.race }}
                  </td>
                  <td>
                    {{ result.user }}
                  </td>
              </tr>
          {% endfor %}
          {% endfor %}
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
        </tbody>
    </table>

    <div class="page-header">
        <h2 class="section_title">
          <a href="{% url 'race:result_list' %}">Uitslagen</a>
        </h2>
    </div>
    <table class="table">
        <thead>
            <tr>
              <th>Datum</th>
              <th>Evemenement</th>
              <th>Wedstrijd</th>
              <th>Deelnemer</th>
              <th>Uitslag</th>
              <th>Opmerkingen</th>
            </tr>
        </thead>
        <tbody>
          {% for obj in result_list %}
            <tr>
                <td>
                  {{ obj.edition.date }}
                </td>
                <td>
                  <a href="{{ obj.edition.event.get_absolute_url }}" title="{{ obj.edition.event.name }}">{{ obj.edition.event }}</a>
                </td>
                <td>
                  {{ obj.race }}
                </td>
                <td>
                  {{ obj.user.first_name|capfirst }}
                </td>
                <td>
                  {{ obj.time }}
                </td>
            <td>
              {{ obj.remarks }}
            </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}